<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taxx"
        tools:targetApi="31">
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="96905163f2197d62cdad7ea15601df79" />

        <activity android:name=".presentation.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".presentation.selectrider.SelectriderActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".presentation.addressweb.AddressWebActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".presentation.quickrequest.QuickRequestActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".presentation.acceptrider.AcceptriderAcitivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".presentation.servicestart.ServicestartActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="kakao96905163f2197d62cdad7ea15601df79" />
            </intent-filter>
        </activity>
    </application>

</manifest>